@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Bun Venit</h1>
    <p>Aplicatia consta in gestiunea de studenti a unei facultati</p>
    <p>Incepe prin adaugarea studentilor  <a href="https://localhost:44390/Studenti/Create">chiar acum</a>.</p>
    <p>Poti adauga departamentele dorite apasand <a href="https://localhost:44390/Departamente/Create">Aici</a>.</p>
    <p>Poti adauga cursurile tale printr-un singur  <a href="https://localhost:44390/Cursuri/Create">Click </a>.</p>

</div>